<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheets/mycontacts.css">
</head>
<body>
  <div class="heading">
    <h1>Your Contacts</h1>
  </div>
    <div class="container">
        <div class="cards flex">

          <% user.contacts.forEach(function(contact) { %>
            <div class="card" style="width: 18rem;">
              <label>Name:</label>
                <%= contact.name %><br>
                <label>Phone Number:</label>
                <%= contact.phoneNumber %><br>
                <label>Email:</label>
                <%= contact.email %><br>
                <label>Address:</label>
                <%= contact.address %><br>

              <div class="card-body">
              </div>
            </div>
            <% }) %>
        </div>
      </div>
      <a href="/user/profile"> <button class="back">Back</button> </a>

</body>
</html>